.aws/
.bash_history
.cache/
.codeium/
.config/
.dotnet/
.gitconfig
.gnome/
.gnupg/
.java/
.lesshst
.librewolf/
.local/
.m2/
.npm/
.nvm/
.pki/
.python_history
.redhat/
.ssh/
.sudo_as_admin_successful
.tabnine/
.vscode/
.wdm/
Automation_Test/
Desktop/
Documents/
Downloads/
Pictures/
apptest.java
aws/
chromedriver-linux64/
cucumber-test*/
google-chrome-stable_current_amd64.deb
jsnew/
myenv/
new.py
pom.xml
reactviteapp/
saucedemo_automation/
snap/
target/
unit testing/
.bash_logout
.bashrc
.profile
